.box {
    height:100px;
    width:100px;
    margin:30px;
    background-color: brown;
}


@media (max-width: 900px) {
    .box {
        background-color: green;
    }
}
@media (max-width: 700px) { /* of viewport */
    .box {
        background-color: aqua;
    }
}